#heritage {
  background-image: linear-gradient(
      rgba(255, 254, 254, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("../../../assets/image/heritage.png");
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
}
#page {
  display: flex;
  width: 100vw;
  /* border: 2px solid #01418b; */
  padding: 6rem 0;
  background-color: rgba(255, 255, 255, 0);
  /* opacity: 0.8; */
  margin: 2rem;
  border-radius: 2rem;
  flex-wrap: wrap;
}
#login {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* border: 2px solid red; */
  align-items: center;
  justify-content: space-around;
}
#text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
  font-weight: 650;
  color: #01418b;
  padding-left: 2rem;
  flex: 1;
  /* border: 2px solid red; */
}

#login a {
  text-decoration: none;
  min-width: max-content;
  width: 50%;
  flex: 1;
  white-space: nowrap;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  color: white;
  background-color: #01418b;
}
#login a:hover {
  background-color: #01418b8e;
  color: #01418b;
}

#cards {
  width: 100vw;
  background-color: #e5e5e5;
  border: 2px solid pink;
}
#card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  background-color: #e5e5e5;
}
.first_part {
  display: flex;

  justify-content: space-around;
  width: 100%;
}
.first_p {
  text-align: center;
  padding: 1rem;
  margin: 1rem 2rem;
  background-color: #ffffff;
  border-radius: 15px;
}
#segment {
  /* border: 2px solid red; */
  background-image: linear-gradient(
      rgba(255, 254, 254, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("../../../assets/image/side.png");
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#first {
  /* border: 2px solid red; */
  text-align: center;
  margin-top: 2rem;
}
.route {
  /* border: 2px solid red; */
  text-align: center;
}
#second {
  /* border: 2px solid red; */
  display: flex;

  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}
#past {
  /* border: 2px solid red; */
  text-align: center;
  padding: 2rem 2rem;
}

#company {
  /* border: 2px solid red; */
  background-image: url("../../../assets/company.png");
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.para {
  padding: 2rem 1rem;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
}

.heading {
  font-family: popins;
  font-style: normal;
  font-weight: 500;
}

#se {
  padding: 2rem 2rem;
}
