.recruiter-hero {
  background-image: linear-gradient(
      rgba(255, 254, 254, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../../assets/image/heritage.png");
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: row;
}
